@model FacultyInformation.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Department Details</h2>

<div>
    <h4>Department Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeptID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
